@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Virgil";
    src: url("https://excalidraw.com/Virgil.woff2");
  }

  @font-face {
    font-family: "Cascadia";
    src: url("https://excalidraw.com/Cascadia.woff2");
  }

  @font-face {
    font-family: "Assistant";
    src: url("https://excalidraw.com/Assistant-Regular.woff2");
  }
}

@layer utilities {
  .rounded-iconic-xs {
    border-top-right-radius: 2px 5px;
    border-bottom-left-radius: 5px 2px;
  }

  .rounded-iconic-sm {
    border-top-right-radius: 4px 10px;
    border-bottom-left-radius: 10px 4px;
  }

  .rounded-iconic-md {
    border-top-right-radius: 6px 16px;
    border-bottom-left-radius: 16px 6px;
  }

  .rounded-iconic-lg {
    border-top-right-radius: 8px 21px;
    border-bottom-left-radius: 21px 8px;
  }

  .rounded-iconic-xl {
    border-top-right-radius: 12px 32px;
    border-bottom-left-radius: 32px 12px;
  }

  .rounded-iconic-2xl {
    border-top-right-radius: 16px 43px;
    border-bottom-left-radius: 43px 16px;
  }

  .rounded-iconic-3xl {
    border-top-right-radius: 24px 64px;
    border-bottom-left-radius: 64px 24px;
  }

  .blur-mask {
    -webkit-mask: linear-gradient(#000 90%, transparent);
    mask: linear-gradient(#000 90%, transparent);
  }

  .shadow-float {
    --tw-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    --tw-shadow-colored: 0 0 24px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}