.DS_Store
/node_modules/
.wrangler/

# React Router
/.react-router/
/build/


/locals
.env
.dev.vars
*storybook.log
storybook-static

# images in contents
/app/contents/**/*.png
/app/contents/**/*.jpg
/app/contents/**/*.jpeg
/app/contents/**/*.gif
/app/contents/**/*.svg

.playwright-cli/